
<ion-menu-toggle>
<ion-item detail="true" [routerLink]="['/inicio']">
  <ion-icon name="reader-outline"></ion-icon>
  <ion-label>
    Informacion 
  </ion-label>
</ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item detail="true" [routerLink]="['/noticias']">
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>
      Feriados
    </ion-label>
  </ion-item>
  </ion-menu-toggle>


<!--<ion-menu-toggle>
<ion-item *ngIf="login == false" detail="true" [routerLink]="['/']">
  <ion-icon name="person-outline"></ion-icon>
  <ion-label>
    Login
  </ion-label>
</ion-item>
</ion-menu-toggle>-->

<ion-menu-toggle>
<ion-item  *ngIf="login && rol=='pasajero' " detail="true" [routerLink]="['/action-sheet']">
  <ion-icon name="people-outline"></ion-icon>
  <ion-label>
    Pasajero
  </ion-label>
</ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item  *ngIf="login && rol=='conductor'" detail="true" [routerLink]="['/alert']">
    <ion-icon name="car-sport-outline"></ion-icon>
    <ion-label>
      Conductor
    </ion-label>
  </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle>
    <ion-item  *ngIf="login && rol=='conductor'" detail="true" [routerLink]="['/crear-rutas']">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>
        Arma tu Ruta
      </ion-label>
    </ion-item>
    </ion-menu-toggle>



<!--<ion-menu-toggle *ngIf="login">
<ion-item  detail="true" (click)="logout()">
  <ion-icon name="share-outline"></ion-icon>
  <ion-label>
    Logout
  </ion-label>
</ion-item>
</ion-menu-toggle>-->

