.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;

}
.parrafo{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}