
<ion-header>
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Te llevoApp<ion-icon name="rocket-outline"></ion-icon></ion-title>
    
  </ion-toolbar>-->

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content>

  <ion-slides>
    <ion-slide>
      <img src="assets/slider1.jpg">
    </ion-slide>

    <ion-slide>
      <img src="assets/slider2.png">
    </ion-slide>

    <ion-slide>
      <img src="assets/slider3.png">
    </ion-slide>

  
  </ion-slides>

  <ion-card>

    <ion-card-title class="titulo">En que consiste nuestra Aplicacion</ion-card-title>
    <ion-card-content>
      <p class="parrafo">
        Lo que queremos fomentar como creados de TeLlevoApp es al compeñerismo y solidaridad con las personas que no poosean vehiculo para llegar o 
        irse de Duoc UC, beneficinado tanto al conducto como al estudiante y/o profesor, evitando cobros exesivos y inseguridades ala hora de querer tomar un transporte .
      </p>
    </ion-card-content>
    <ion-card>
      <img src="assets/logotellevoApp.png" class="ion-padding">
    </ion-card>
  </ion-card>

  <ion-card>

    <ion-card-title class="titulo">Como funciona nuestra Aplicacion</ion-card-title>
    <ion-card-content>
      <p class="parrafo">
        Si eres Usuario o Conducotr solo deberas crearte una cuenta con el correo institucional 
        Para los conductores deberan enviar una solicitud por via correo a autos@Duocuc.cl y seguir las 
        instrucciones.Para Usuarios una vez confirmado su correo podran programar su viaje  2 horas antes de querer buscar
        a algun conductor que tenga una ruta parecida a la del usuario.
      </p>
    </ion-card-content>
    <ion-card>
      <img src="assets/funcionamiento.jpg" class="ion-padding">
    </ion-card>
  </ion-card>

  <ion-card>

    <ion-card-title class="titulo">!!!Conoce las suspension academica y laboral!!!</ion-card-title>
    <ion-card-content>
      <p class="parrafo">
        1)No seas la persona despitada de tus compañeros.
      </p>
      <p class="parrafo">
        2)Organiza tus dias libres.
      </p>
      <p class="parrafo">
        3)Mantente siempre Informado.
      </p>
    </ion-card-content>
    <ion-card>
      <img src="assets/Homero.jpg" class="ion-padding">


    </ion-card>
     <center><ion-button shape="round" color="primary" routerLink="/noticias"><b>Enterate de los dias Feriados </b><ion-icon name="calendar-number-outline" slot="end"></ion-icon></ion-button></center>
  </ion-card>

 <!-- <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecTo" detail="true">
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>


  <ion-button routerLink="/alert">
    Alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    Action-Sheet
  </ion-button>!-->
    <!-- fab placed to the bottom start este es uno-->
    <ion-fab vertical="start" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentAlert()" routerLink="/login">
        <ion-icon name="exit-outline" ></ion-icon>
      </ion-fab-button>
    </ion-fab>

   

    
   
    
   
 
</ion-content>


