ion-content.background{

    --background: url(/assets/fondo3.jpg) 0 0/100% 100% no-repeat;
  
  }

.text{
    text-align: center;
}

.oscurecer{
    opacity: 80%;
}
.parrafo{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
.item{
    --background:#af4343;
    opacity: 100%;
  
  
  }

.tamaño{
    font-size: xx-large;
    font-weight: bolder;
  
}

