<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitulos</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">Lorem ipsum dolor sit amet consectetur, 
      adipisicing elit. Exercitationem ad soluta velit magnam consequatur enim! Magni nemo 
      beatae atque, nihil debitis mollitia impedit nostrum facere repudiandae sint culpa corrupti 
      consequatur?</p>
    </ion-card-content>



  </ion-card>

  <ion-card>
    <ion-item href="#">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Cualquier texto</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/alert">View</ion-button>
    </ion-item>

    <ion-card-content>
      <p class="parrafo2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Nam perferendis ducimus molestias corrupti, nemo sit vero voluptate placeat rerum 
        velit tempore doloremque ratione, delectus necessitatibus magni sequi non expedita veniam!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item href="#">
      <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
      <ion-label class="wifi">item 1 wifi</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon slot="start" name="walk" color="secondary"></ion-icon>
      <ion-label class="walk">item 2 walk</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon slot="start" name="warning" color="danger"></ion-icon>
      <ion-label class="warning">item 3 peligro</ion-label>
    </ion-item>

  </ion-card>

  <ion-card>

    <ion-card-title class="titulo">TottenHam</ion-card-title>
    <ion-card-content>
      <p class="parrafo2">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Minima aliquid sed veritatis. Quo voluptate itaque, ipsam aliquam voluptatem vel
          laboriosam explicabo odio, minima quas cum quibusdam dignissimos commodi quia. Maxime.
      </p>
    </ion-card-content>
    <icon-card>
      <img src="assets/totten.png" class="ion-padding">
    </icon-card>
  </ion-card>
</ion-content>
