.parrafo{
    text-align: justify;
    color: blue;
}
.parrafo2{
    text-align: center;
    color: orangered;
    text-decoration: line-through; 
}
.wifi{
    color: darkblue;
}

.walk{
    color: purple;
}

.warning{
    color: aqua;
}